<!doctype html>
<html lang="en">
  <body>
    <header class="site-header">
  <div class="profile-block">
  <img src="{{ '/assets/img/profile.jpeg' | relative_url }}" class="profile-photo">

  <div class="profile-info">
    <h1>
      <a href="{{ '/' | relative_url }}">{{ site.author.name }}</a>
    </h1>

    <p>{{ site.author.affiliation }}</p>

    <p>Email: <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
<p><a href="{{ site.author.scholar }}">Google Scholar</a></p> 
   <p></p><a href="{{ site.author.cv | relative_url }}">CV</a></p>
  </div>
</div>

  <nav class="site-menu">
    {% for p in site.header_pages %}
      {% assign my_page = site.pages | where: "path", p | first %}
      {% if my_page %}
        <a href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</header>
    <main aria-label="Content">
      {{ content }}
    </main>
  </body>
</html>
